:root {
  --edge-smaller: 5px;
  --edge-small: 10px;
  --edge-base: 20px;
  --edge-large: 30px;

  --color-primary: #1677ff;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  line-height: 1.5;
  font-size: var(--text-base);
  color: var(--color-base);
  background-color: #fff;
}

.margin-top-smaller {
  margin-top: var(--edge-smaller);
}

.margin-top-small {
  margin-top: var(--edge-small);
}

.margin-top-base {
  margin-top: var(--edge-base);
}

.margin-top-large {
  margin-top: var(--edge-large);
}

.margin-left-smaller {
  margin-left: var(--edge-smaller);
}

.margin-left-small {
  margin-left: var(--edge-small);
}

.margin-left-base {
  margin-left: var(--edge-base);
}

.margin-left-large {
  margin-left: var(--edge-large);
}

.padding-top-small {
  padding-top: var(--edge-small);
}

.padding-top-base {
  padding-top: var(--edge-base);
}

.padding-top-large {
  padding-top: var(--edge-large);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

/* 骨架布局 */
.layout {
  min-width: 1400px;
}

.layout-container {
  display: flex;
  justify-content: flex-start;
}

.layout-sidebar {
  width: 240px;
  height: calc(100vh - 50px);
}

.layout-main {
  box-sizing: border-box;
  width: calc(100% - 240px);
  height: calc(100vh - 50px);
  padding: 10px;
  overflow-y: auto;
}